@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#f8f9fab0, rgba(0, 128, 0, 0.377)), url(../img/svgs.svg)  repeat-y;
    font-family: Montserrat, sans-serif;
}

header{
    padding: 15px 50px; 
    font-weight: bolder;
}

header .nav-brand h4 a{
    color: #222;
    text-decoration: none;
}


.time-display .card-header{
    padding: 10px;
    text-align: center;
    font-size: 50px;
}

.display{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px auto 100px;
}

.form-card{
    position: relative;
    height: auto;
    border: 1px solid #ccc;
    padding: 24px;
    box-shadow: 0 0 1em #ccc;
    width: 500px;
    /* height: 300px; */
    background: rgba(255, 255, 255, 0.61);
    border-radius: 3px;
    margin: 0 0 40px;
}

.form-card h4{
    text-align: center;
}

.form-card select,
input[type="number"],
input[type="text"]{
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    color: #444;
    border: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: transparent;
}

.loader{
    position: absolute;
    bottom: 10px;
    left: 46%;
    display: none;
}

.success{
    text-align: center;
    font-size: 0.8em;
    color: #fff;
    background-color: rgba(0, 128, 0, 0.808);
    padding: 10px 0;
    margin-bottom: 10px;
}

.danger{
    text-align: center;
    font-size: 0.8em;
    color: #fff;
    background-color: #dc3545;
    padding: 10px 0;
    margin-bottom: 10px;

}

.alert{
    width: 90%;
}

.inline-btn{
    display: flex;
    justify-content: space-between;
}

.form-card input[type="submit"]{
    width: 30%;
    height: 40px;
    background: #28a745;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 15px;
}

.form-card #clear{
    width: 30%;
    height: 40px;
    background: #17a2b8;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 15px;
}

.form-group{
    margin: 15px 0;
}

.form-group label{
    font-weight: bold;
    font-size: 15px;
}

.card{
    height: auto;
    width: 500px;
}

.card .card-inner{
    position: relative;
    display: flex;
    margin-bottom: 10px;
}

.card .card-img{
    height: 120px;
    width: 250px;
    margin-right: 20px;
    border: 7px solid rgba(0, 128, 0, 0.274);
    box-shadow: 0 0 0.6em rgba(51, 51, 51, 0.651);
    overflow: hidden;
}

.card .card-text{
    width: 250px;
}

.card-text p{
    margin-top: 25px;
    font-size: 20px;
    color: #444;
}

.card-text .time{
    position: absolute;
    font-size: 16px;
    color: #444;
    bottom: 0;
    font-weight: bold;
    
}


.card .card-img img{
    height: auto;
    max-width: 100%;
    transition: all .5s ease;
}

.card .card-img img:hover{
    filter: grayscale(1);
    transform: scale(1.2);
}

.card .card-footer{
    padding: 10px;
    font-size: 20px;
}

.card-footer li{
    margin: 15px 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

table{
    width: 100%;
}

.table-container{
    margin: 40px 0;
}

 .table-container h3{
    text-align: center;
    margin-bottom: 10px;
}


thead tr th{
    border: 1px solid #444;
    text-align: left;
    padding: 0 10px;
}

tr{
    text-align: left;
}

td{
    padding: 0 10px;
}



footer{
    display: flex;
    justify-content: space-around;
    background: #494f55;
    color: #f8f9fa;
    padding: 10px 0;
    flex-wrap: wrap;
    font-size: 13px;
}

footer a{
    color: #f8f9fa;
}

@media screen and (max-width: 568px){
    header .nav-brand{
        text-align: center;
    }
    
    .display{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-card{
      width: 350px;
    }

    .card-text p{
        font-size: 18px;
        margin-top: 10px;
    }

    .card{
        width: 350px;
    }

    .card .card-img{
        height: 115px;
    }

    .card-header h4{
        font-size: 45px;
    }
    

    footer p{
        margin: 0 12px;
        line-height
        : 2;
        font-size: 9px;
    }
}

@media screen and (max-width: 320px ){
    header .nav-brand{
        text-align: center;
    }
    
    .display{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-text p{
        font-size: 16px;
        margin-top: 10px;
    }
    .form-card{
        width: 300px;
    }
    .card{
        width: 300px;
    }

    .card-header h4{
        font-size: 35px;
    }

    .card .card-img{
        height: 100px;
    }

    footer p{
        margin: 0 12px;
        line-height: 2;
        font-size: 9px;
    }
}